.card
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 700px;

    background-color: #383c42;
    padding: 15px;
    border-radius: 25px;

    outline-width: 2px;
    outline-color: #74777e;
}

.cardP1Win
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 700px;

    background: rgb(0,97,167);
    background: linear-gradient(90deg, rgba(0,97,167,1) 0%, rgba(56,60,66,1) 50%); 
    padding: 15px;
    border-radius: 25px;

    outline-width: 2px;
    outline-color: #5593dd;
}

.cardP2Win
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 700px;

    background: rgb(56,60,66);
    background: linear-gradient(90deg, rgba(56,60,66,1) 50%, rgba(0,97,167,1) 100%); 
    padding: 15px;
    border-radius: 25px;

    outline-width: 2px;
    outline-color: #5593dd;
}

.round
{
    width: 200px;
    align-self: center;
    text-align: center;
    height: 25px;
}

.p1Display
{
    width: 250px;
    align-self:flex-start;
}

.p2Display
{
    width: 250px;
    align-self:flex-end;
}

.p1Name
{
    text-align: center;
}

.p1Score
{
    text-align: right;
    color: #3294f0;
}

.p2Name
{
    text-align: center;
}

.p2Score
{
    text-align: left;
    color: #3294f0;
}

.stream-button-container
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;
}

.stream-button
{
    width: 50px;
    height: 50px;
    background-color: #004882;
    outline: #3294f0, 5px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color:aliceblue;
    
    border-radius: 15px;
}

.stream-button:active
{
    transform: translateY(5px);
    box-shadow: none;
}