<img class="logo"src="/assets/promo/logo.png" width="300px">

<nav>
    <!--Navigation links-->
    <mat-action-list>
        <li><button mat-fab extended routerLink="/stream" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-button">
            <mat-icon >podcasts</mat-icon>
            Stream
        </button></li>
        <li><button mat-fab extended routerLink="/bracket" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-button">
            <mat-icon>account_tree</mat-icon>
            Bracket
        </button></li>
    </mat-action-list>
</nav>
