
<mat-sidenav-container class = "base">
  <mat-sidenav #drawer mode="push" role="navigation">
    <app-nav></app-nav> <!-- Navigation for the app -->
  </mat-sidenav>
  <mat-sidenav-content role="main">
    <div class="header">
      <button mat-fab (click)="drawer.toggle()" class="nav-button"> <mat-icon>menu</mat-icon> </button>
      <app-tourney-select></app-tourney-select>
      <app-event-select></app-event-select>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>