.base
{
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0;
    left: 0;
    top: 0;
    /*color: #c7c7c7;
    font-family: "Roboto";*/
}

.navbar
{
    width: 125px;
}